# Shared
NODE_ENV=development

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/crm_erp_pnf?schema=public

# Web
NEXT_PUBLIC_APP_NAME=CRM ERP PNF
NEXT_PUBLIC_API_URL=http://localhost:4000

# API
PORT=4000
API_PREFIX=api

# Worker
WORKER_NAME=crm-erp-pnf-worker
